<%= form_with(model: [@shop, listing], :html => { multipart: true }, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :listing_name, class: "form-control", placeholder: "Enter the listing name" %>
  </div>

    <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :listing_description, class: "form-control", placeholder: "Enter the listing description" %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, id: :listing_price, class: "form-control", placeholder: "Enter the listing price" %>
  </div>

<div class="form-group">
    <%= form.check_box :state, id: :listing_state %>
    <%= form.label :active %> 
  </div>

    <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :avatar, class: "form-control" %>
  </div>



  <div class="badge">
    <%= form.submit %>
  </div>
<% end %>
