<p id="notice"><%= notice %></p>



<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%= image_tag @listing.image_url %>


<%= link_to 'Edit', edit_shop_listing_path(@listing) %> |
<%= link_to 'Back', shop_listings_path(@listing) %>
