<%= render 'layouts/nav' %>
<%= form_with(model: shop, local: true) do |form| %>
<br>
<div class = "container form-group">
    <b><%= form.label :name %></b>
    <%= form.text_field :name, id: :shop_name, class: "form-control" %>
  
<br>
  <div class="form-group">
    <b><%= form.label :description %></b>
    <%= form.text_field :description, id: :shop_description, class: "form-control" %>
  </div>

  <div class="badge">
    <%= form.submit %>
  </div>
</div>
<% end %>