<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>All Shops</h1>
  </div>
<%= render 'layouts/nav' %>


 <div class="container">
  <br>
  <% if logged_in? %>
  <%= link_to 'Add New Shop', '/shops/new' %>
  <br>
<% if @shops.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Owner(s)</th>
      </tr>
    </thead>
    <tbody>
<% else %>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Owner(s)</th>
      </tr>
    </thead>
    <tbody>
    <% @shops.each do |shop| %>
    <tr>
<td>
      <h4><b><%= link_to shop.name, "/shops/#{shop.id}",{:style=>'color:#5E5D11;', :class => "css_class"} %> </h4></li></td>
        <td><h5><%= shop.description %> </h5>
      <br>

  <td><% shop.users.each do |user| %> 
     <h5><%= link_to user.username, "/users/#{user.id}",{:style=>'color:#A82903;', :class => "css_class"} %> </h5><br>
    


   <% end %> </td>

    <% end %>

  </tbody>
  </table>
   </ol>
</div>
<% end %>
<% else %>
<% controller.redirect_to root_path %>
<% end %>
</div>
<br>

