<div class="jumbotron text-center" style="margin-bottom:0">
  <h1><%= @user.username %>'s Shops</h1>
  </div>
<%= render 'layouts/nav' %>

<div class = "container">
<div class="row">
  <div class="col-12">
    <h2>
      
      
        <% if logged_in? %>
          <% if @user == current_user %>
          <div class="float-right">
            <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'btn btn-primary' %>
            <%= link_to 'Delete Account', current_user, method: :delete, class: 'btn btn-danger' %>
            </div>
            <% @user.shops.each do |shop| %>
    <tr>
<td>
    <h1><b><%= link_to shop.name, "/shops/#{shop.id}",{:style=>'color:#5E5D11;', :class => "css_class"} %> </h1></td>
      <h5 class="badge badge-light">Shop Description: </h5>
        <h9><%= shop.description %> </h9>
<br>
<br>

  
<br><h6> <%= link_to 'Delete Shop', "/shops/#{shop.id}", {:style=>'color:#DC1514;', :class => "css_class", method: :delete }%> <span>&nbsp;&nbsp;</span>
            <%= link_to 'Create New Listing', new_shop_listing_path(shop) %></h6>
            <br>
<br>
    <% end %>

         
<% else %>
<% @user.shops.each do |shop| %>
    <tr>
<td>
    <h1><b><%= link_to shop.name, "/shops/#{shop.id}",{:style=>'color:#5E5D11;', :class => "css_class"} %> </h1></td></b>
      <h5 class="badge badge-light">Shop Description: </h5>
        <h9><%= shop.description %> </h9>
<br>
<br>


<% end %>
        <% end %>
        <% end %>

        <% if !logged_in? %>
           <% redirect_to root_path %>
         <% end %>
      </div>
    </h2>
  </div>
</div>

<br>


</div>