<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Orders</h1>
  </div>
<%= render 'layouts/nav' %>
<p id="notice"><%= notice %></p>
<div class = "container">
<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

</div>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
